
main{
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}

.signup-container {
  background-color: #00A6FB;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.signup-container h1 {
  margin-bottom: 20px;
  color: #013553;
  font-family: "Space Grotesk", sans-serif;
}

.signup-container input[type="text"],
.signup-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Yrsa', serif;
  color: #013553;
}


.login-button {
  background-color: #006494;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 16px;
  transition: background-color 0.3s;
  font-family: 'Space Grotesk', sans-serif;
}

.login-button:hover {
  background-color: #003554;
}

.create-account {
  display: block;
  margin-bottom: 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: Yrsa, serif;
}

.create-account:hover {
  text-decoration: underline;
}
